<footer class="py-12" style="background-color: #EBE4DB !important;">
<div class="container mx-auto px-6">
<div class="flex justify-center items-center">
<div class="text-center">
<a class="text-gray-600 hover:text-green-600 mx-4" href="#" data-translate="aboutUs">About Us</a>
<a class="text-gray-600 hover:text-green-600 mx-4" href="#" data-translate="contact">Contact</a>
<a class="text-gray-600 hover:text-green-600 mx-4" href="#" data-translate="privacyPolicy">Privacy Policy</a>
<a class="text-gray-600 hover:text-green-600 mx-4" href="#" data-translate="termsOfService">Terms of Service</a>
</div>
</div>
<div class="text-center text-gray-500 mt-8">
<p data-translate="copyright">&copy; 2024 SmartSheti. All rights reserved.</p>
</div>
</div>
</footer>